@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html, body, p {
    margin: 0;
    padding: 0;
}

input, textarea {
    padding: 3px;
}

.title {
    /* background-color: #24252A;
    color: #EDF0F1;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-decoration: none;*/
}

.container {
    height: 70vh;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.errormessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
}

.login {
    display: grid;
    grid-template-columns: 7em auto;
    grid-gap: 5px;
    align-items: center;
    padding: 15px 0;
}

#login {
    width: 200px;
    margin-bottom: 5px;
}

#items {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.item {
    display: flex;
    margin: 0 0 10px 0;
    color: black;
}

.item:link {text-decoration: none;}

.item:hover {
    background: ghostwhite;
    cursor: pointer;
}

.item h2 {
    margin: 0 0 .2em 0;
}

.item > div {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.img-wrapper {
    align-self: center;
}

.img-wrapper > img {
    width: 100px;
}

.add-new {
    align-self: flex-end;
    width: 50px;
    height: 50px;
    background-color: rgba(0,136,169,1);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    margin: 15px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease 0s;
}

.add-new:hover {
    background-color: rgba(0,136,169,.8);
}

.add-new:focus {
    outline: none;
}

.glider {
    border: 1px solid red;
}

.flexc {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.flexc > label:not(:first-child) {
    margin-top: 10px;
}
.flexc > label {
    margin-bottom: 2px;
}

.button {
    background: #FF5844;
    color: white;
    border: 1px solid #FF5844;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 2px;
}

.button:hover:not(:disabled) {
    color: #FF5844;
    background: white;
}

.button:disabled {
    background: #FF584490;
    border: 1px solid #FFFFFF00;
    cursor: unset;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    font-family: 'Source Sans Pro',sans-serif;
}

.header > * {
    margin-right: 5px;
}

.header h1 {
    margin: 10px;
    padding: 3px 5px;
    text-transform: uppercase;
    color: white;
    background: #06bffc;
    font-size: 1.2em;
    font-weight: bold;
    user-select: none;
}

.header .login-link {
    color: #474445;
    height: 100%;
    margin: 10px 10px 0 10px;
    padding: 5px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    user-select: none;
}

.header .login-link:hover {
    border-bottom: 2px solid #06bffc;
}